[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/edwarmv/nvim.git
[submodule "/Users/edwarmv/.config/tmux"]
	path = /Users/edwarmv/.config/tmux
	url = https://github.com/edwarmv/tmux.git
[submodule "/Users/edwarmv/.config/kitty"]
	path = /Users/edwarmv/.config/kitty
	url = https://github.com/edwarmv/kitty.git
[submodule "/Users/edwarmv/.config/lazygit"]
	path = /Users/edwarmv/.config/lazygit
	url = https://github.com/edwarmv/lazygit.git
[submodule "/Users/edwarmv/.config/bat"]
	path = /Users/edwarmv/.config/bat
	url = https://github.com/edwarmv/bat.git
[submodule "/Users/edwarmv/.config/fish"]
	path = /Users/edwarmv/.config/fish
	url = https://github.com/edwarmv/fish.git
[submodule "/Users/edwarmv/.config/delta"]
	path = /Users/edwarmv/.config/delta
	url = https://github.com/edwarmv/delta.git
[submodule "/Users/edwarmv/.config/zshrc"]
	path = /Users/edwarmv/.config/zshrc
	url = https://github.com/edwarmv/zshrc.git
