[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/edwarmv/nvim.git
[submodule "/Users/edwarmv/.config/tmux"]
	path = /Users/edwarmv/.config/tmux
	url = https://github.com/edwarmv/tmux.git
[submodule "/Users/edwarmv/.config/kitty"]
	path = /Users/edwarmv/.config/kitty
	url = https://github.com/edwarmv/kitty.git
